/*
* Name: Mithril Stack
* Created by Ozgur
*/
html {min-height:100%; position: relative;}
body {font-family: Arial; font-size: 14px; line-height: 23px;}

input, button, select, .text-input {}
.wrap {max-width: 1180px; margin: auto;}

@media only screen and (max-width: 1180px) {
   .wrap {padding: 0 1px;}
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.t:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.t { display: inline-block; }
* html .t { height: 1%; }
.t { display: block; }

*:focus {
    outline: none
}

textarea:focus, input:focus{
    outline: none;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

.pointer {cursor: pointer;}
.fl {float: left;}
.fr {float: right;}
